# Python - Getting started
## Header 2

###### Header 6

------------------------------------------------------

This text is **bold**, this text is *itallic*

<h1> This is header 1 </h1>
<h2> This is header 2 </h2>
<h3> This is header 3 </h3>
<h4> This is header 4 </h4>
<h5> This is header 5 </h5>
<h6> This is header 6 </h6>


Every cell in jupyter notebook will have

2 states:
    Select: Esc
    
    Edit
    
3 Modes:
    RawNB Convert: Only plain text w/o the formats
        Esc + R
    
    Markdown: Stylized text / HTML
        Esc + M
    
    Code: Syntactically correct python codes
        Esc + Y
    
Shortcuts: almost all shortcuts will work in Select state

    Insert new cell above the cell: Esc + A

    Insert new cell below the cell: Esc + B

    Delete a cell: Esc + DD

    Cut: Esc + X

    Copy: Esc + C

    Paste: Esc + V

Execution of the content in the cell:
    
    Shift + Enter: Execute the cell and will take the user to the next available cell
    
    Cntr + Enter: Execute the cell

### Python

General purpose language

    Scripting/Automations
    
    Software development
    
    Data Science
    
Open Source: No Licence, Free of cost, Source code is available

OOP - Object Oriented Programming

High Level Language / human readable

Interpreted Language

Dynamically typed language / loosely type language

Strong library support

Integration

Case sensitive

Portable

### Class 2 Topics

0. Comments: # symbol. Python allows only SINGLE LINE comments
    shortcut: cntr + /

1. variables

    In python, use single or double quotes to refer to the text data
    python is case sensitive
    Three single quotes/ double qoutes are for multi line string
    
2. operators
3. data types
4. control flow statements

#### variables:

In [3]:
x = 15

In [6]:
x + 20

35

In [8]:
print(x + 20)

35

In [7]:
print(x) + 20

15

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

#### INC rules: Identifier Naming Conventions

1. Names can be alphanumeric
2. No special chars allowed except underscore
3. Names can start with alphabet or underscore
    **dont start the names with underscore/s
4. Dont use the inbuilt keywords as the indetifier names
5. No limit on the length of the name
    **always use short but meaningful names
    **best practice: use camel casing

In [9]:
a1001 = 10

In [10]:
_1001 = 10

In [18]:
1a110 = 20

SyntaxError: invalid syntax (<ipython-input-18-9494591326a9>, line 1)

In [11]:
a_10001 = 20

In [13]:
a.1 = 12

SyntaxError: invalid syntax (<ipython-input-13-b6db08e43d97>, line 1)

In [15]:
sum([1, 2, 3, 4, 5])

15

In [19]:
sum = 20

In [20]:
sum([1, 2, 3, 4, 5])

TypeError: 'int' object is not callable

In [21]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 10

In [22]:
sName = "Python"

In [ ]:
# if I want reuse the sum function here then ?
del sum

In [24]:
sum([1, 2, 3, 4, 5])

15

In [ ]:
# is for the comment

In [27]:
var = """this is the second 
            class for python"""

In [28]:
var

'this is the second \n            class for python'

In [29]:
"""this is the second 
            class for python"""

'this is the second \n            class for python'

#### operators

assignment: =

arithmatic: + - / * // % **

arithmatic + assignment: += -= /= *=

relational/comparision: Boolean type: True or False
    single valued : > >= < <= == !=
    multi valued / membership : in

logical:
    and or : to combine the boolean outputs
        and: will return True if all conditions are True
        or: will return True if any one of the condition is True
    not :  to negate the boolean output
        
    0 = False
    all other values = True
    
bit wise: in class 4 or 5
    & | ~


() -> ** -> % / * -> + - -> relational/comparision -> not -> and -> or

In [36]:
2 != 2

False

In [37]:
4 > 5

False

In [38]:
5 == 5

True

In [40]:
5 == 5 and 4 < 5 and 3 > 2

True

In [41]:
not True

False

In [43]:
not 5 == 5

False

In [44]:
# Q1: What is the output of following expression
5 + 4 * 9 % (3 + 1) / 6 - 1

5 + 4 * 9 % 4 / 6 - 1

5 + 36 % 4 / 6 - 1

5 + 0 / 6 - 1

5 + 0.0 - 1

5.0 - 1

4.0

4.0

#### data types

str
float
int
bool

8 bytes

non standard numerics: numerics strored as text


Type conversion functions:
str()
float()
int()
bool()


bigint/long (8 bytes | 64 bits)
int (4 bytes | 32 bits)
smallint (2 bytes | 16 bits)
tinyint (1 byte | 8 bits) 
bit (1 bit)  0 or 1

Lot of data types exists for better memory management

In [46]:
var1 = 10
var2 = 20.5
var3 = "Python"
var4 = True

In [47]:
type(var1)

int

In [48]:
type(var2)

float

In [49]:
type(var3)

str

In [50]:
type(var4)

bool

In [51]:
var5 = '10'

In [52]:
type(var5)

str

In [53]:
var1 + 50

60

In [55]:
int(var5) + 50

60

In [56]:
var3

'Python'

In [57]:
int(var3)

ValueError: invalid literal for int() with base 10: 'Python'

In [58]:
var5

'10'

In [59]:
type(var5)

str

In [61]:
int(var5)

10

In [62]:
var6 = '20.5'

In [66]:
int(var6)

ValueError: invalid literal for int() with base 10: '20.5'

In [65]:
int(float(var6))

20

In [71]:
var7 = -10

In [68]:
type(var7)

int

In [73]:
var8 = '10.5'

In [74]:
float(var8)

10.5

In [78]:
int(float(var8))

10

In [76]:
bool(0)

False

In [83]:
x = '10.5'

In [84]:
type(x)

str