In [1]:
t1 = 1, 2,3 , 4,5

In [2]:
t1

(1, 2, 3, 4, 5)

In [3]:
num=10

if num>0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

positive

In [4]:
l1 = list(range(10, 51, 10))

In [5]:
l1

[10, 20, 30, 40, 50]

In [6]:
l1.append(t1)

In [7]:
l1

[10, 20, 30, 40, 50, (1, 2, 3, 4, 5)]

In [8]:
l1.extend(t1)

In [9]:
l1

[10, 20, 30, 40, 50, (1, 2, 3, 4, 5), 1, 2, 3, 4, 5]

Class 3 topics:
    
Control flow statements

    Conditional statements
        if elif ... else
        ternary if
    
    Iterative statements / Loops
        conditional loops: while
        ranged loops: for
            
function: range(), dir(), id()
    
Data Structures: 4 of them - 1D, hetrogeneous and dont allow broadcasting, allow vectorization

            create              access        update (if possible)      methods and attributes
tuple       () or no brackets   []            immutable - read only     .count(), .index()
list        []                  []            [] = new value            .append(), .insert(),     
                                                                         .extend(), .pop(), 
                                                                         .remove(), .clear(), 
                                                                         .sort(), .reverse(), 
                                                                         .count(), .index(), .copy()
dict        {}                  []            [] = new value
set         {} - keyless dict   na            na


help - ? or Shift + Tab
Auto complete - Tab

In [13]:
l2 = list(t1)

In [14]:
l2

[1, 2, 3, 4, 5]

In [15]:
id(l2)

2192559372424

In [16]:
l3 = l2

In [17]:
l3

[1, 2, 3, 4, 5]

In [19]:
l3[3] = -1

In [20]:
l3

[1, 2, 3, -1, 5]

In [21]:
l2

[1, 2, 3, -1, 5]

In [22]:
id(l3)

2192559372424

In [23]:
l4 = l2.copy()

In [24]:
id(l4)

2192559417096

#### mathematical operations and indexing - broadcasting

In [25]:
l2

[1, 2, 3, -1, 5]

In [26]:
# add number 100 to all elemets of the list
l2 + 100

TypeError: can only concatenate list (not "int") to list

In [29]:
l2[1] + 100

102

In [30]:
# get all elemets from list l2 which are less than 3
l2 < 3

TypeError: '<' not supported between instances of 'list' and 'int'

In [31]:
l2[0] < 3

True

In [32]:
lst1 = list(range(10, 51, 10))

In [33]:
lst1

[10, 20, 30, 40, 50]

In [34]:
len(lst1)

5

##### print all the elements of list lst1

In [36]:
for i in range(len(lst1)):    # [0, 1, 2, 3, 4]
    print( lst1[i] )

10
20
30
40
50

In [38]:
for i in lst1:     # [10, 20, 30, 40, 50]
    print(i)

10
20
30
40
50

##### add number 100 to all the elements and print all the elements of list lst1

In [40]:
for i in range( len(lst1) ):
    print( lst1[i] + 100 )

110
120
130
140
150

In [39]:
for i in lst1:
    print(i + 100)

110
120
130
140
150

##### update the original list after adding number 100 to all the elements of the list

In [41]:
for i in range(len(lst1)):
    lst1[i] = lst1[i] + 100       # lst1[i] += 100

In [42]:
lst1

[110, 120, 130, 140, 150]

In [43]:
lst1 = list(range(10, 51, 10))

In [46]:
for i in lst1:
    lst1[i] = i + 100

IndexError: list assignment index out of range

In [45]:
lst1

[10, 20, 30, 40, 50]

##### create a new list adding number 100 to all the elements of the list

In [50]:
l3 = []
for var in range(len(lst1)):
    l3.append( lst1[var] + 100 )

In [52]:
lst1

[10, 20, 30, 40, 50]

In [51]:
l3

[110, 120, 130, 140, 150]

In [53]:
l3 = []
for var in lst1:
    l3.append( var + 100 )

In [48]:
l3 = []

In [49]:
l3[0]

IndexError: list index out of range

##### get the elements greater than 20 from lst1 in a new list

In [54]:
l4 = []
for var in lst1:
    if var > 20:
        l4.append(var)
print(l4)

[30, 40, 50]

##### get the elements between 20 and 40 from lst1 in a new list

In [55]:
l4 = []
for var in lst1:
    if var >= 20 and var <= 40:
        l4.append(var)
print(l4)

[20, 30, 40]

In [57]:
l5 = [1, 2, 3, 4, 3,2 , 5, 6, 5, 4, 3, 10, 12, 15, 3, 2, 1, 3, 4]

In [58]:
l5

[1, 2, 3, 4, 3, 2, 5, 6, 5, 4, 3, 10, 12, 15, 3, 2, 1, 3, 4]

##### get all even numbers from the list l5 and create a new list after adding number 10 to all eevn numbers

In [61]:
l6=[]

for i in range(len(l5)):
    if l5[i] % 2 == 0:
        l6.append(l5[i]+10)
print(l6)

[12, 14, 12, 16, 14, 20, 22, 12, 14]

In [59]:
l6 = []

for var in l5:
    if var % 2 == 0:
        l6.append(var + 10)
print(l6)

[12, 14, 12, 16, 14, 20, 22, 12, 14]

### list comprehensions

syntax:
    
[ mathematical_operations for var in iterable indexing ]

##### get all even numbers from the list l5 and create a new list after adding number 10 to all eevn numbers

In [65]:
[ var + 10 for var in l5 if var % 2 == 0 ]

[12, 14, 12, 16, 14, 20, 22, 12, 14]

##### get all odd numbers from the list l5 and create a new list after adding number 10 to the numbers with value less tahn 10 and subtract 10 from numbers greater than 10

In [192]:
[x for x in l5 if x % 2 != 0]

[1, 3, 3, 5, 5, 3, 15, 3, 1, 3]

In [69]:
[ x + 10 if x < 10 else x - 10 for x in l5 if x % 2 != 0 ]

[11, 13, 13, 15, 15, 13, 5, 13, 11, 13]

### dict

syntax:

d1{ key1:val1, key2:val2, .... }

*we can access the data from dict only using the keys; DICT will NOT have INDEX/POSITIONS

*Keys can only be of Immutable type; values can be anything
** use only the simple types as the keys; prefer int or str only as the keys

In [72]:
d1 = {}

In [73]:
type(d1)

dict

In [74]:
d2 = { 1:10, 2:20, 3:30, 4:40 }

In [75]:
d2

{1: 10, 2: 20, 3: 30, 4: 40}

In [76]:
d3 = { 1:10, 2:'John', 3:10.5, 4:True, 5:l1, 6:t1, 7:d1 }

In [77]:
d3

{1: 10,
 2: 'John',
 3: 10.5,
 4: True,
 5: [10, 20, 30, 40, 50, (1, 2, 3, 4, 5), 1, 2, 3, 4, 5],
 6: (1, 2, 3, 4, 5),
 7: {}}

In [78]:
d4 = { 1:10, 1.5:20, False:30, t1:l1 }

In [79]:
d4

{1: 10,
 1.5: 20,
 False: 30,
 (1, 2, 3, 4, 5): [10, 20, 30, 40, 50, (1, 2, 3, 4, 5), 1, 2, 3, 4, 5]}

In [87]:
d5 = { 1:10, 1.5:20, False:30, 'Name':'John', t1:l2, l2:t1 }

TypeError: unhashable type: 'list'

In [86]:
d5

{1: 10, 1.5: 20, False: 30, 'Name': 'John', (1, 2, 3, 4, 5): [1, 2, 3, -1, 5]}

In [90]:
d6 = { 1:10, 2:20, 3:30, 1:100, True:-1 }

In [91]:
d6

{1: -1, 2: 20, 3: 30}

In [108]:
d7 = { 'EmpID': [1001, 1002, 1003], 
          'Name': ['Andrina', 'John', 'Andrew'], 
              'Dept': ['Finance', 'IT', 'IT'], 
                  'Age': [20, 32, 27] }

In [109]:
d7

{'EmpID': [1001, 1002, 1003, 1004],
 'Name': ['Andrina', 'John', 'Andrew'],
 'Dept': ['Finance', 'IT', 'IT'],
 'Age': [20, 32, 27]}

#### access

In [96]:
d2

{1: 10, 2: 20, 3: 30, 4: 40}

In [99]:
d2[1]

10

In [100]:
d7

{'EmpID': [1001, 1002, 1003],
 'Name': ['Andrina', 'John', 'Andrew'],
 'Dept': ['Finance', 'IT', 'IT'],
 'Age': [20, 32, 27]}

In [104]:
d7['EmpID'][0]

1001

In [107]:
d7['Name'][0]

'Andrina'

#### update

In [110]:
d2

{1: 10, 2: 20, 3: 30, 4: 40}

In [112]:
d2[2] = -20

In [113]:
d2

{1: 10, 2: -20, 3: 30, 4: 40}

In [115]:
d2[5] = 50

In [116]:
d2

{1: 10, 2: -20, 3: 30, 4: 40, 5: 50}

#### methods and attributes

In [118]:
print(dir(d2))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [119]:
d7.items()

dict_items([('EmpID', [1001, 1002, 1003, 1004]), ('Name', ['Andrina', 'John', 'Andrew']), ('Dept', ['Finance', 'IT', 'IT']), ('Age', [20, 32, 27])])

In [120]:
d7.keys()

dict_keys(['EmpID', 'Name', 'Dept', 'Age'])

In [121]:
d7.values()

dict_values([[1001, 1002, 1003, 1004], ['Andrina', 'John', 'Andrew'], ['Finance', 'IT', 'IT'], [20, 32, 27]])

In [122]:
d2.fromkeys?

In [125]:
for var in d2.values():
    print(var)

10
-20
30
40
50

In [128]:
d2.popitem()

(5, 50)

In [129]:
d2.pop(3)

30

In [130]:
d2

{1: 10, 2: -20, 4: 40}

In [132]:
for var in d7.keys():
    print(d7[var])

[1001, 1002, 1003, 1004]
['Andrina', 'John', 'Andrew']
['Finance', 'IT', 'IT']
[20, 32, 27]

### set

set is a keyless dict
they will NOT have any index position

{}

{ val1, val2, val3, ..... }

In [133]:
s1 = { 1, 2, 3, 1, 2, 4, 3, 2, 10, 1, 15, 20, 1, 2, 3, 4 }

In [134]:
s1

{1, 2, 3, 4, 10, 15, 20}

In [136]:
s2 = { 'Python', 10.5, 10, 2, 3, 1, 1, 1, 2, 1, 'Python' }

In [137]:
s2

{1, 10, 10.5, 2, 3, 'Python'}

#### access

In [138]:
s1

{1, 2, 3, 4, 10, 15, 20}

In [139]:
s1[3]

TypeError: 'set' object is not subscriptable

#### methods and attributes

In [140]:
print(dir(s2))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [141]:
s1

{1, 2, 3, 4, 10, 15, 20}

In [142]:
s2

{1, 10, 10.5, 2, 3, 'Python'}

In [145]:
s2.difference(s1)

{10.5, 'Python'}

In [146]:
for var in s1:
    print(var)

1
2
3
4
10
15
20

In [147]:
s1

{1, 2, 3, 4, 10, 15, 20}

In [148]:
s2

{1, 10, 10.5, 2, 3, 'Python'}

In [149]:
s1.intersection_update(s2)

In [150]:
s1

{1, 2, 3, 10}

## UDFs - User defined functions

Function definition: << required only once >>
------------------------------

def func_name( args, .....):
    logic..
    
    return object

We can define the function with the arguments which can be:
1. Mandatory arguments
2. Optional arguments
3. Mix of them
** Optional args should follow the mandatory args


Call the function: << we can call the function multiple times >>
------------------------------------------------------------------
func_name( args.. )

We can pass the arguments to the function in two different ways:
1. Positional arguments
2. Keyword arguments
** Keyword args should always follow the positional arguments


*args - n positional arguments

In [151]:
# write a udf to sum two numbers
def fn_add2nums( n1, n2 ):
    return n1 + n2

In [152]:
# write a udf to subtract two numbers
def fn_sub2nums( n1, n2 ):
    return n1 - n2

In [153]:
fn_add2nums(10, 30)

40

In [154]:
fn_sub2nums(10, 5)

5

In [155]:
fn_sub2nums(5, 10)

-5

In [157]:
fn_sub2nums( n2 = 5, n1 = 10 )

5

In [160]:
fn_sub2nums( 10, 5 )

5

In [171]:
# write a udf to subtract two numbers
def fn_sub2nums( n2, n1 = 0 ):
    return n1 - n2

In [172]:
fn_sub2nums()

TypeError: fn_sub2nums() missing 1 required positional argument: 'n2'

In [173]:
fn_sub2nums(10)

-10

In [177]:
fn_sub2nums(20, 15)

-5

In [182]:
# write a UDF to sum the nums
def fn_sum( *args ):
    return sum(args)

In [183]:
fn_sum(1, 2, 3, 4, 5, 6, 7, 10, 30, 30)

98

In [185]:
# write a generic UDF to sum the nums
def fn_sum( *args ):
    
    Sum = 0
    for var in args:
        if type(var) == int or type(var) == float:
            Sum = Sum + var
    return Sum

In [186]:
fn_sum(1, 2, 3, 4, 5, 6, 7, 10, 30, 'Python')

68