Class 2 topics:
    
Variables: containers to store some info

INC rules:
    1. Alphanumerics
    2. No speical char, except _
    3. Alphabets and Underscore in begining, _ not recommended
    4. No keywords
    5. No limit on the len
    
    * No underscore in the begining
    * use always short but meaningful names
    * camel casing

Operators
----------------------------------
arithmetic: + - * / // % **
assignment: =
arithmetic + assignment: += -=.....
relational/comparision: bool
    single : > >= < <= != ==
    multi valued : in
logical
    and or : combine the bool outputs
    not: negation
        
    bitwise operators : will discuss later

Data types
str float int bool

Data type conversions
str() float() int() bool()

Functions
print() type() sum()

del - statement

### Class 3 topics

In [ ]:
#include <stdio.io>
...

void main() {
    
    int a;
    int b;
    int c;
    
    a = 10;
    b = -20;
    c = a + b;
    
    if( c >= 0) {
        printf(.....);
    }
    else {
        print(......);
    }
}

In [ ]:
#include <stdio.io>
...

void main() {

int a;
int b;
int c;

a = 10;
b = -20;
c = a + b;

if( c >= 0) {
printf(.....);
}
else {
print(......);
}
}

In [ ]:
include <stdio.io>
void main():
    a = 10
    b = -20
    c = a + b
    
    if( c >= 0) 
        printf(.....)
    else
        print(......)

Control flow statements

    conditional statement
        if elif ... else
        ternary if
    
    iterative statements / loops
        conditional loops: while
        ranged loops: for 
            
Data Structures

### conditional statements

In [ ]:
syntax:
    
if condition/s:
    line1..
    line2..
elif condition/s:
    line3..
    line4..
..
..
else:
    linen

----------------------------------------
if condition/s:
    line1..
    line2..
    
----------------------------------------
if condition/s:
    line1..
    line2..
else:
    linen
---------------------------------------
if condition/s:
    line1..
    line2..
elif condition/s:
    line3..
    line4..
    
    
* ouut of complete if elif else, only one block of code will execute

In [2]:
# print if the number is positive or negative
num = 10

if num >= 0:
    print('This number is positive')
else:
    print('This number is negative')

This number is positive

In [4]:
num = 0

In [5]:
if num >= 0:
    print('This number is positive')
else:
    print('This number is negative')

This number is positive

In [22]:
num = 10
'Positive' if num >= 0 else 'Negative'

In [24]:
print(var)

Positive

In [12]:
# print if the number is positive or negative or zero

num = 0.01
if num > 0:
    print('This number is positive')
elif num == 0:
    print('This number is zero')
else:
    print('This number is negative')

This number is positive

In [8]:
var = 10

In [9]:
type(var)

int

In [10]:
num1 = 10.5

In [11]:
type(num1)

float

In [20]:
num = 0.01
if num > 0:
    print('This number is positive')
elif num == 0:
    print('This number is zero')
else:
    print('This number is negative')

print('This is the end of the code')

This number is positive
This is the end of the code

In [25]:
num = -10

In [ ]:
'positive' if num > 0 else 'negative' if num < 0 else 'zero'

### ternary if statement

excel: if(condition/s, Truevalue, Falsevalue)

python:
Truevalue if condition/s else Falsevalue

### Loops

conditional loop: while
    
entry controlled loop
will execute for True condition/s
** There has to atleast one statement that will make the conditions as False

syntax:
    
while condition/s:
    line1..
    line2..

In [30]:
# print the numbers from 1 till 10

num = 1
while num <= 10:
    print(num)
    num += 1        # num = num + 1

1
2
3
4
5
6
7
8
9
10

### range function

syntax: 
------------------------------------------

range( start, end, step )
range( start, end )   # step = 1
range( end ) # step = 1, start = 0

* range function will generate the range of values from start till end - 1, if step is positive

* range function will generate the range of values from start till end + 1, if step is negative

** range function can work only on integers **

In [32]:
range(10)

range(0, 10)

In [33]:
range(2, 20, 2)

range(2, 20, 2)

In [34]:
range(4, 40)

range(4, 40)

#### ranged loop: for

iterable is an object which contains multiple values

syntax:
    
for var in iterable:
    line1..
    line2..
    ...

In [38]:
for var in range(1, 10, 2):
    print(var)

1
3
5
7
9

In [46]:
for var in range(10, 0, -1):
    print(var)

10
9
8
7
6
5
4
3
2
1

In [47]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

### Data Structures

way to store the data
collection of the data points

Basic python supports following data structures:
tuple, list, dict, set

properties:
1. 1D
2. Hetrogeneous: can store the data with different datatypes and data structures
3. They will NOT allow broadcasting; but allows vertorization

                                        tuple             list          dict         set

1. create                               () or No brackets []            {}           {}
2. access                               []                []            []           --
3. update                               --                [] =          [] =         --
4. mathematical operations/Indexing
5. methods and attributes               

OOP - Object Oriented Programming
objects
methods - functions
attributes - variables

Type conversion:
tuple()
list()
dict()
set()

### tuple and list

In [53]:
n1 = 10, 20, 30

In [54]:
type(n1)

tuple

In [55]:
n1

(10, 20, 30)

In [56]:
t1 = 10, 20, 30, 40, 50

In [57]:
t2 = (5, 10, 15, 20, 25, 30)

In [60]:
t3 = (10, 'Python', 10.5, True, t1, t2)

In [61]:
type(t3)

tuple

In [62]:
t3

(10, 'Python', 10.5, True, (10, 20, 30, 40, 50), (5, 10, 15, 20, 25, 30))

In [63]:
l1 = [10, 20, 30, 40, 50]

In [64]:
type(l1)

list

In [65]:
l2 = [10, 'Python', 'John', t1, l1, 10.6, False]

In [66]:
l2

[10, 'Python', 'John', (10, 20, 30, 40, 50), [10, 20, 30, 40, 50], 10.6, False]

In [67]:
t1

(10, 20, 30, 40, 50)

In [68]:
l3 = list(t1)

In [69]:
l3

[10, 20, 30, 40, 50]

In [70]:
l4 = list(range(10, 101, 10))

In [71]:
l4

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [72]:
t5 = tuple(range(10, 101, 10))

In [73]:
t5

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

#### access the data

1. Get the data from the index / positions
2. Slicers
   DataStructure[ start : end : step ]

In [75]:
t1

(10, 20, 30, 40, 50)

In [79]:
t1[-1]

50

In [80]:
l1

[10, 20, 30, 40, 50]

In [82]:
l1[-3]

30

In [83]:
t1

(10, 20, 30, 40, 50)

In [84]:
t1[1:4]

(20, 30, 40)

In [85]:
t1[::]

(10, 20, 30, 40, 50)

In [86]:
t1[:3]

(10, 20, 30)

In [87]:
t1[3:]

(40, 50)

In [88]:
t1[::2]

(10, 30, 50)

In [89]:
t1[::-1]

(50, 40, 30, 20, 10)

In [90]:
l1

[10, 20, 30, 40, 50]

In [91]:
l1[:4]

[10, 20, 30, 40]

In [94]:
l4

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [96]:
l4[7:2:-1]

[80, 70, 60, 50, 40]

In [99]:
t1

(10, 20, 30, 40, 50)

In [100]:
l1

[10, 20, 30, 40, 50]

In [103]:
l2

[10, 'Python', 'John', (10, 20, 30, 40, 50), [10, 20, 30, 40, 50], 10.6, False]

In [106]:
l2[3]

(10, 20, 30, 40, 50)

#### update the data

In [107]:
l6 = []

In [108]:
type(l6)

list

In [111]:
t6 = (1, )

In [112]:
type(t6)

tuple

In [113]:
t1

(10, 20, 30, 40, 50)

In [114]:
t1[2]

30

In [119]:
t1[2] = -1

TypeError: 'tuple' object does not support item assignment

In [115]:
l1

[10, 20, 30, 40, 50]

In [116]:
l1[2]

30

In [117]:
l1[2] = -1

In [121]:
l1

[10, 20, -1, 40, 50]

In [120]:
id(l1)

2534263684104

In [122]:
l1[2] = -99

In [123]:
l1

[10, 20, -99, 40, 50]

In [124]:
id(l1)

2534263684104

In [125]:
t1

(10, 20, 30, 40, 50)

In [126]:
id(t1)

2534264734632

In [127]:
t1[2] = -1

TypeError: 'tuple' object does not support item assignment

In [128]:
t1 = 10, 20, -1, 40, 50

In [129]:
id(t1)

2534264784360

#### methods and attributes

In [ ]:
objectname.method_name()
objectname.attribute

In [135]:
t7 = 1, 2, 1, 2, 1, 2, 1, 2, 3, 1, 2, 1, 3, 1,3 ,4 ,1

In [136]:
print(dir(t7))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [142]:
t7

(1, 2, 1, 2, 1, 2, 1, 2, 3, 1, 2, 1, 3, 1, 3, 4, 1)

In [139]:
# to get the inbuilt documentation, 
# use ? after the method name or use Shift + Tab inside the round brackets of the method
t7.count(2)

In [143]:
t7.index(3)

8

In [144]:
t7.index( 3, t7.index(3) + 1 )

12

In [145]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [146]:
l1

[10, 20, -99, 40, 50]

In [148]:
l1.append(60)

In [149]:
l1

[10, 20, -99, 40, 50, 60]

In [150]:
l1.extend(t1)

In [151]:
l1

[10, 20, -99, 40, 50, 60, 10, 20, -1, 40, 50]

In [153]:
l1.insert(2, 100)

In [154]:
l1

[10, 20, 100, -99, 40, 50, 60, 10, 20, -1, 40, 50]

In [156]:
l1.pop()

50

In [157]:
l1

[10, 20, 100, -99, 40, 50, 60, 10, 20, -1, 40]

In [158]:
l1.pop(2)

100

In [159]:
l1

[10, 20, -99, 40, 50, 60, 10, 20, -1, 40]

In [161]:
l1.remove(40)

In [162]:
l1

[10, 20, -99, 50, 60, 10, 20, -1, 40]

In [165]:
l3.clear()

In [166]:
l3

[]

In [167]:
l1.remove(10)

In [168]:
l1

[20, -99, 50, 60, 10, 20, -1, 40]

In [170]:
l1.sort()

In [171]:
l1

[-99, -1, 10, 20, 20, 40, 50, 60]

In [172]:
l1.sort(reverse = True)

In [173]:
l1

[60, 50, 40, 20, 20, 10, -1, -99]

In [174]:
l2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [179]:
l6 = ['b', 'a', 'A', 'z', 'Z']

In [180]:
l6.sort()

In [181]:
l6

['A', 'Z', 'a', 'b', 'z']

In [182]:
l2

[10,
 'Python',
 'John',
 (10, 20, 30, 40, 50),
 [60, 50, 40, 20, 20, 10, -1, -99],
 10.6,
 False]

In [186]:
l8 = l2[:2]

In [187]:
l8.append(l2[3][:2])

In [188]:
l8

[10, 'Python', (10, 20)]

In [190]:
print("\\")

\